<h1><%= @user.profile.name %></h1>
<p><%= @user.profile.blurb %></p>

<% if @user == current_user %>
	<%= link_to 'Edit profile', edit_profile_path(@user) %>
	<%= link_to 'New post', new_post_path %>
	<br>

<% else %>
	<%= render 'friends_form', user: @user %>
	
<% end %>

	<% @requests.each do |req| %> <!-- this shows where user is the user_id, not friend_id! -->
	<br>
		<%= req.id %>
		<%= req.user.profile.name %>

		<%= link_to 'Accept', user_friend_path(friend_id: current_user.id, user_id: req.user_id), method: 'put' %>
	<br>
	<% end %>

	<%= render @posts %>


	<!-- make it so that it renders 'activity' instead. if possible make activity detect which type of post and then displays them appropriately -->


	<%= render @friends, friends: @friends %>